.auth__form-button {
    border-radius: var(--border-radius-primary);
    border:none;
    background-color: var(--color-brand-primary);
    padding:toRem(20);
    color:var(--color-text-primary);
    font-size:toRem(20);
    cursor: pointer;
}

.tasks__form-button {
    border-radius: var(--border-radius-primary);
    border:none;
    background-color: var(--color-brand-primary);
    padding:toRem(0) toRem(10);
    color:var(--color-text-primary);
    font-size:toRem(14);
    height:toRem(30);
    cursor: pointer;
}