.auth__form-error {
    color:var(--color-text-error-primary);
    font-size:toRem(14);
    padding:0 toRem(10);
}
.bbdd__error {
    background-color: var(--color-text-error-primary);
    color: var(--color-text-primary);
    font-size:toRem(12);
    margin:toRem(20) 0;
    width: 100%;
    text-align: center;
}