.auth__form {
    display:flex;
    flex-direction: column;

    > * + * {
        margin-top: toRem(30);
    };
}

.auth__form-element {
    border:none;
    width:100%;
    padding:toRem(20);
    background-color: var(--color-background-primary);
    border-radius:var(--border-radius);
    color:var(--color-text-primary);
    font-size:toRem(20);
    outline:none;
    border:1px solid var(--color-background-primary);
    &:hover, &:active, &:focus {
        border:1px solid var(--color-brand-primary);
    }
}

.auth__form-element::-webkit-input-placeholder {
    /* WebKit browsers */
    color: var(--color-text-primary);
}

.auth__form-element:-moz-placeholder {
    /* Mozilla Firefox 4 - 18 */
    color: var(--color-text-primary);
    opacity: 1;
}

.auth__form-element::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--color-text-primary);
    opacity: 1;
}

.auth__form-element:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: var(--color-text-primary);
}

