/* Headings, title, subtitles*/
.title__main {
    font-size: toRem(50);
    font-weight: 600;
    color:var(--color-text-primary);
    margin:0; 

    & + * {
        margin-top: toRem(100);
    }
}
.subtitle__main {
    font-size: toRem(30);
    width:100%;
    display:flex; 
    justify-content: space-between;
    align-items:center; 
    min-height:toRem(40);
    & + * {
        margin-top: toRem(20);
    }
}