/* Links */

a,a:visited,a:focus {
    color:var(--color-brand-primary);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Link Auth */
.link-auth {
    display:inline-block;
    width:100%; 
    text-align: center;
    margin: toRem(40) 0; 
    color:var(--color-brand-primary);
}

/* Link Tasks */
.link-tasks {
    display:inline-block;
    font-size:toRem(20);
    color:var(--color-brand-primary);
}