.navbar {
    position: relative;
    width:100%;
    min-height:toRem(80);
}
.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__link {
    display:flex;
    align-items: center;
    font-size:inherit;
    color:var(--color-brand-secondary);
    text-decoration: none;
    background-color: transparent;
    border:none; 
    cursor: pointer;
    &:hover {
        text-decoration:none; 
    }
    .fa-solid {
        color:var(--color-brand-secondary);
    }
}