.main__wrapper {
   position:relative;
   display: flex;
   flex-direction: column;
   width:900px;
   height:100%;
   min-height:600px;
   background-color: var(--color-background-secondary);
   border-radius:var(--border-radius);
   padding: toRem(64);
   margin: toRem(10) toRem(50);
}

.main__wrapper-decoration {
   position:absolute;
   bottom:toRem(100);
   right:toRem(100);
   width:toRem(100);
}

.auth__wrapper {
   width:50%;
   padding:toRem(20);
   &:nth-child(2) {
      text-align: right;
   }
 }

 .tasks__wrapper {
   padding:toRem(20);
 }

 .newtasks__wrapper {
   position: relative;
   padding:toRem(20);
   background: #fff;
   @include ripped-effect(2, 6px);
 }