.main__wrapper {
   width:900px;
   height:650px;
   background-color: var(--color-background-secondary);
   border-radius:var(--border-radius);
   padding: toRem(64);
   margin: toRem(10) toRem(50);
}