.wrapper__main {
   position:relative;
   display: flex;
   flex-direction: column;
   width:900px;
   height:100%;
   min-height:600px;
   background-color: var(--color-background-secondary);
   border-radius:var(--border-radius-primary);
   padding: toRem(48);
   margin: toRem(10) toRem(50);
}

.wrapper__main-decoration {
   position:absolute;
   bottom:toRem(80);
   right:toRem(100);
   width:toRem(70);
}

.wrapper__main-user {
   position:absolute;
   top:toRem(54);
   right:toRem(200);
   font-size: toRem(18);
   color:var(--color-brand-secondary);
}

.wrapper__auth {
   width:50%;
   padding:toRem(20);
   &:nth-child(2) {
      text-align: right;
   }
 }

 .wrapper__tasks {
   padding-bottom:toRem(150);
 }

 .wrapper__tasks-status {
   & + .wrapper__tasks-status {
      margin-top:toRem(60);
   }
   color:var(--color-text-secondary);
   &.isComplete {
      .task {
         position: relative;
         &::after {
            position: absolute;
            content:"";
            width: 100%;
            height:3px;
            left:0;
            top:toRem(21);
            background-color: var(--color-brand-secondary);

         }
      }
     
   }
 }

 .wrapper-paper {
   position: relative;
   padding:toRem(35) toRem(50);
   background: url(./assets/img/LinedPaperBackground.jpg);
   background-position: 0 0 ;
   background-size: cover;
   background-repeat:no-repeat;
   border-top-left-radius: var(--border-radius-secondary);
   border-top-right-radius: var(--border-radius-secondary);
   &::after {
      position:absolute;
      content:"";
      left:0;
      bottom:-6px; 
      background:#FFF;
      width:100%;
      height:6px;
      @include ripped-effect(2, 6px);
   } 
 }
 .wrapper-paper-pin {
   position:absolute;
   top:toRem(-20);
   left:toRem(-10);
   width:30px;
   height:auto;
   transform:rotate(-60deg);
 }