:root {
    --color-brand-primary:#008480;
    --color-brand-secondary: #40B983;
    --color-background-primary: #525562;
    --color-background-secondary: #272A38;
    --color-text-primary: #fff; 
    --color-text-secondary:#111;
    --color-error-primary: #FD4703;
    --color-info-primary: #0097AC;
    --border-radius-primary: 60px;
    --border-radius-secondary: 20px;
}