:root {
    --color-brand-primary: #95288F;
    --color-background-primary: #525562;
    --color-background-secondary: #272A38;
    --color-text-primary: #fff; 
    --color-text-error: red; 
    --border-radius: 60px;
}