
html,
body {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
    /*font-size base*/
}

body {
    font-weight: 400;
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.875rem;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}